.loaderContainer {
  display: flex;
  gap: var(--spacing-sm);
}

.loader {
  border: 2px solid rgb(255 255 255 / 40%);
  border-top: 2px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
